/* Header Container */
header {
    background-color: #1b0433;
    /* Blue background */
    color: #ffffff;
    /* White text */
    padding: 1rem 0;
    /* Vertical padSding */

}

/* Container for Logo and Navigation */
.container {
    max-width: 1200px;
    /* Maximum width */
    margin: 0 auto;
    /* Center the container horizontally */

    /* Horizontal padding */
    display: flex;
    justify-content: space-between;
}

/* Logo Styling */
.logo {
    display: flex;
    /* Display as flexbox */
    align-items: center;
    /* Center vertically */
    text-decoration: none;
    /* Remove default underline */
    font-weight: bold;
    /* Bold text */
    font-size: 1.5rem;
    /* Larger font size */
}

/* Navigation Styling */
nav {
    display: flex;
    /* Display as flexbox */
    align-items: flex-start;
    /* Center vertically */
}

/* Navigation Links Styling */
nav a {
    color: #ffffff;
    /* White text color */
    text-decoration: none;
    /* Remove default underline */
    margin-right: 1rem;
    /* Right margin between links */
    transition: color 0.3s;
    /* Smooth color transition */
}

/* Navigation Links Hover Effect */
nav a:hover {
    color: #d1d5db;
    /* Lighter text color on hover */
}

/* Login and Sign Up Button Styling */
.login-btn,
.signup-btn {
    color: #ffffff;
    /* White text color */
    text-decoration: none;
    /* Remove default underline */
    background-color: transparent;
    /* Transparent background */
    border: none;
    /* Remove border */
    cursor: pointer;
    /* Change cursor to pointer */
    margin-right: 1rem;
    /* Right margin */
    transition: color 0.3s;
    /* Smooth color transition */
}

/* Login and Sign Up Button Hover Effect */
.login-btn:hover,
.signup-btn:hover {
    color: #d1d5db;
    /* Lighter text color on hover */
}

/* Media Query for Small Devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Stack elements vertically */
        text-align: center;
        /* Center align text */
    }

    .logo {
        margin-bottom: 1rem;
        /* Bottom margin for the logo */
    }

    nav {
        margin-top: 1rem;
        /* Top margin for the navigation */
    }
}