/* RegisterForm.css */

.max-w-md {
    max-width: 70rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-8 {
    margin-top: 2rem;
}

.p-8 {
    padding: 2rem;
}

.bg-white {
    background-color: #404ed1;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-md {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.text-2xl {
    font-size: 1.5rem;
}

.font-semibold {
    font-weight: 600;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-red-500 {
    color: #dc3545;
}

.w-full {
    width: 100%;
}

.bg-blue-500 {
    background-color: #4285f4;
}

.text-white {
    color: #fff;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.rounded-md {
    border-radius: 0.5rem;
}

.hover:bg-blue-600 {
    background-color: #3872e3;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.mr-4 {
    margin-right: 1rem;
}

.text-gray-700 {
    color: #37474F;
}

.underline {
    text-decoration: underline;
}

.h-6 {
    height: 1.5rem;
}

.w-6 {
    width: 1.5rem;
}

.fill-current {
    fill: currentColor;
}

.flex.mt-4 {
    margin-top: 1rem;
}

.flex.mt-4.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-gray-700.mr-2 {
    color: #71717a;
    margin-right: 20px;
    margin-left: 90px;
}

.text-gray-700.mr-2::before {
    margin-right: 10px;
}

button.h-6.w-6 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 8px;
}

button.h-6.w-6 img {
    width: 100%;
    height: 100%;
}
