/* RegisterForm.css */

.max-w-md {
    /* Adjust as needed for different maximum widths */
    max-width: 70rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-8 {
    margin-top: 2rem;
}

.p-8 {
    /* Increased padding for larger area */
    padding: 2rem;
}

.bg-white {
    background-color: #404ed1;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-md {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* Register form styles */

.text-2xl {
    font-size: 1.5rem;
}

.font-semibold {
    font-weight: 600;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-red-500 {
    color: #dc3545;
}

/* Input field styles */

.block {
    display: block;
}

.text-gray-700 {
    color: #37474F;
}

.mt-1 {
    margin-top: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.w-full {
    width: 100%;
}

.border {
    border-width: 1px;
}

.rounded-md {
    border-radius: 0.375rem;
}

/* Password toggle button styles */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inset-y-0 {
    top: 0;
    bottom: 0;
}

.right-0 {
    right: 0;
}

.flex.items-center {
    display: flex;
    align-items: center;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.focus\:outline-none:focus {
    outline: 0;
}

.h-5 {
    height: 1.25rem;
}

.w-5 {
    width: 1.25rem;
}

.text-gray-400 {
    color: #cbd5e0;
}

/* Button styles */

.bg-blue-500 {
    background-color: #4285f4;
}

.text-white {
    color: #fff;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.hover\:bg-blue-600:hover {
    background-color: #3872e3;
}

.disabled\:opacity-50:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Additional form styles */

.mr-4 {
    margin-right: 1rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.underline {
    text-decoration: underline;
}

.mt-4 {
    margin-top: 1rem;
}

.justify-end {
    justify-content: flex-end;
}

.h-6 {
    height: 1.5rem;
}

.w-6 {
    width: 1.5rem;
}

/* Google login button styles */

button.h-6.w-6 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 8px;
}

button.h-6.w-6 img {
    width: 100%;
    height: 100%;
}

.text-gray-700.mr-2 {
    color: #71717a;
    margin-right: 20px;
    margin-left: 90px;
}

.text-gray-700.mr-2::before {
    margin-right: 10px;
}

.fill-current {
    fill: currentColor;
}
